.header{
    /* background-color: red; */
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid gray; */
    box-shadow: 1px 3px rgba(170, 170, 170, 0.603);
    position: fixed;
    top: 0;
    
}
.cheronRightIcon{
    font-size: 15px;
    padding: 13px 0;
}

.backwardIcon{
    margin:auto 40px auto 30px;
}

.mobileViewMenu{
    position: absolute;
    right: 20px;
    display: none;
}

.filepath{
    display: flex;
    margin: auto 40px auto 15px;
    font-size: 14px;
}

.filepath p{
    padding: 12px 10px;
    margin: 0;
}
.filepath p:last-child{
    font-weight: 500;
}

.icon{
    font-size: 20px;
    /* font-weight: 200; */
    padding: 7px 0px;
    margin: 0;
}

.profile{
    display: flex;
    padding: 15px 20px;
}


.profile img, .shareMessage img, .messageBlock img{
    height: 50px;
    border-radius: 50%;   
}

.messageBlock img{
    border:3px solid rgba(104, 0, 87, 0.822);
}

.messagerName{
    font-weight: 500;
    
}

.messagerDetails p,.role,.messagedTime{
    margin: 0;
    margin-left: 10px;
}
.profileName{
    padding-left: 10px;
}

.recentlyAddedHead{
    padding-left: 25px;
    font-size: 12px;
    font-weight: 700;
}

.main{
    /* position: relative; */
    /* height: 100%; */
}

.leftMenu{
    width: 250px;
    /* height: 100%; */
    /* border-right: 1px solid gray; */
    position: fixed;
    float: left;
    top:52px;
    bottom: 0px;
    overflow-y: auto;
    background-color: white;
}
.leftMenu .menuItem:nth-child(2) {
    background-color: rgb(104, 0, 87);
    color:white;
}
.menuItem{
    display: flex;
    padding-left: 25px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.menuItem p{
    margin: 0;
}

.menuTitle{
    display: flex;
    align-items: center;
    
}

.menuTitle p{
    padding-left:15px ;
    /* font-size: 12px; */
}

.notification{
    font-size: 10px;
    color: rgb(185, 185, 185);
}


.moreMenu{
    text-align: center;
    margin:10px 30px;
    padding:10px;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
}

.moreMenu p{
    margin: 0;
    align-items: center;
    font-size: 12px;
}

.moreMenu svg{
    font-size:10px
}

.content{
    margin-left: 250px;
    margin-top: 50px;
    padding:25px 0px;
    background-color:rgb(215, 215, 215);

}

.shareMessage, .messageBlock{
    margin:20px auto 0 auto;
    width: 500px;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    /* display: grid; */
}
.shareMessageHead{
    display: flex;
}
.messageBox{
    margin-left: 20px;
    height: 15px;
    padding: 15px;
    background-color: rgb(215, 215, 215);
    border-radius: 50px;
    border: none;
    outline: none;
    width: 100%;
}

.addAttachment,.captureMessage,.voiceMessage,.shareMessageOption{
    display: flex;
    justify-content: space-between;
}

.shareMessageOption{
    margin:10px 10px 0px 75px;
    /* margin-top:10px ;
    margin-left: 75px; */
}

.shareMessageOption p{
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

.messagerDetails{
    display: flex;
}

.messageContent{
    width: 85%;
    line-height: 1.5;
}

.messageBlockOption{
    margin-left: auto;
    /* position: absolute; */
    /* right: 20px; */
}

@media screen and (max-width: 720px) {
    .mobileViewMenu{
        padding: 6px 10px;
        display:block;
        outline: none;
        background: none;
        border: none;
        font-size:20px;
        
    }
    .mobileViewMenu:active{
        background-color: rgb(201, 201, 201);
        border-radius: 50%;
    }
    .leftMenu{
        /* display: none; */
        right: 0;
        width: 0px;
        overflow-y: scroll;
        transition: 0.3s;
    }

    .content{
        margin-left: 0px;
    }
    .shareMessage,.messageBlock{
        margin: 20px auto;
        width:280px;
    }
    
    .filepath{

        margin:auto 0;
    }
    .backwardIcon{
        margin: auto 20px;
    }
    .shareMessageOption{
        margin:10px 10px 0px 10px;
    }
    .shareMessageOption p{
        font-size: 12px;
    }
    .messageBox{
        margin-left: 10px;
    }

    .profile img, .shareMessage img, .messageBlock img{
        height: 40px;
    }
    .messagerProfile, .messageContent{
        font-size: 14px;
        
    }
    .profileName {
        padding-left: 10px;
        font-size: 14px;
    }
}