@import './variables.scss';



.left-navbar{
  position: relative;
  display: flex;
  padding:20px 0;
  width: 350px;
  box-sizing: border-box;
  height: 100% ;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }




  .user{
    display: flex;
    margin-bottom: 10px;
    padding: 0 40px;
  
        .user-image{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        
        .user-name{
          margin:8px 0px 8px 18px;
          font-size: $title-font-size;
          font-weight:$bolder;
        }
  }




  .section-1,.section-2{
    display: flex;
    flex-direction: column;
    padding: 0;




    .options{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content:flex-start;
      padding:5px 0px;
      line-height: 1;
      cursor: pointer;


          .navbar-img{
            margin:0;
            width: 25%;
            display: block;
            display: flex;
            margin-left:10px;
            justify-content: center;
            font-size: 22px;
          }
          
          
          
          .navbar-title{
            margin:0;
            padding-top: 3px;
            font-size: $sub-title-font-size;
            line-height: 1;
            width: 50%;
            display: flex;
            font-weight: $bold;
          }
          .navbar-number{
            margin:0;
            width: 10%;
            display: flex;
            line-height: 1;
            color: #999999;
            justify-content: flex-end;
            font-size: $sub-title-font-size;
          }
          &:nth-child(1){
            background-color: $shadow-color;
          }
          &:nth-child(1) .navbar-title{
            color:$background-color;
          }
          
          &:nth-child(1) .navbar-img{
            color: $background-color;
          }
    }



    .see-more{
      display: flex;
      width: 80%;
      align-self: center;
      flex-direction: row;
      justify-content: center;
      background-color: $cards-background-color;
      border-radius: 7px;
      margin-top: 8px;
      padding: 8px;
      line-height: 1;
      margin-bottom: 8px;
      cursor: pointer;


        .navbar-arrow{
          margin:0;
          font-size:$sub-title-font-size;
          font-weight: $bolder;
        }

        .navbar-img{
          color: #000000;
          margin-left: 8px;
          font-size:$sub-title-font-size;
          padding: 2px 0;
        }
    }



    .topic{
      margin: 10px;
      margin-left: 40px;
      font-size: $title-font-size;
    }



  }

} 



@media(max-width:$mobile-view){

    .left-navbar{
      display: flex;
      position: absolute;
      right: -350px;
      z-index:1;
      background-color: $background-color;
      overflow-y:scroll;
      transition: right .5s ease-in-out;
    }

    .left-navbar.active{
      right: 0px;
    }
    


}


// @media(min-height:663px){
//   .left-navbar{
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }
// }