$font-family:'Poppins';

$title-font-size:16px;
$sub-title-font-size:14px;
$parahraph-font-size:12px;


$background-color:#ffffff;
$cards-background-color:#e2e1e7;
$shadow-color:#762754;


$bolder:500;
$bold:400;
$lighter:300;


$mobile-view:790px;

$tab-view:1100px;